.controller.fight-stick {
    background: url(https://ekirubel.github.io/stuff/images/base.svg) center no-repeat;
    background-position: 247px 55px;
}

.fight-stick .arrows {
	display: none;
}

.fight-stick .quadrant{
	display: none;
}
